.main-content{
    min-height: calc(100vh - 69px);
    background-color: var(--main-bg);
    padding: 20px;
}

.add-course{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 11px 0px black;
}

.add-course h2{
    color: var(--main-color);
    font-size: 22px;
}

.add-course .fields{
    display: flex;
    margin-top: 10px;
}

.add-course .fields label{
    display: block;
    margin-bottom: 3px;
}

.add-course .fields div{
    margin-right: 10px;
}

.add-course .fields div input{
    border: 2px solid var(--main-bg);
    border-radius: 5px;
    height: 35px;
    width: 30vw;
    font-size: 15px;
    padding: 5px;
}

.add-course .fields div input:focus {
      outline: 2px solid var(--secondary-color);
}

.add-course button{
    height: 35px;
    width: 5vw;
    margin-top: 22px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.add-course button:hover{
    background-color: #0a58d6;
    cursor: pointer;
}