*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1c2135;
}

.container{
    margin-inline: auto;
    height: 100vh;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.icon{
    color: #2284ff;
    font-size: 70px;
}

.header{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.userName{
    margin-bottom: 3vh;
}

.password{
    margin-bottom: 1vh;
}

.userName input, .password input{
    width: 30vw;
    height: 6vh;
    font-size: 15px;
    background-color: white;
    border: 2px solid transparent;
    outline: none;
    border-radius: 8px;
    padding: 10px;
}

@media (max-width : 767px){
    .userName input, .password input{
        width: 60vw;
    }
}

.userName input:focus,
.password input:focus {
    outline: none;
    border-color: #2284ff;
}
.userName i, .password i{
    font-size: 25px;
    margin-right: 10px;
}

.check{
    font-size: 22px;
}


.comment{
    font-size: 20px;
    margin-bottom: 10px;
}

.comment a{
    color: #2284ff;
    transition: 0.5s;
}

.comment a:hover{
    color: white;
}


.check input{
    transform: scale(1.3);
    margin-right: 5px;
}

.submit input{
    background-color: #1a76e2;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 15px;
    transition-duration: 1s;
}

.submit input:hover{
    color: #1a76e2;
    background-color : white;
    cursor: pointer;
}



